body {
  margin: 0;
  -webkit-perspective: 1000;
}

.container {
    position: fixed;
    z-index: 20000;
    width: 100%;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #424141;
}

.menu, .menu-bg, .menu-burger {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  right: 25px;
  top: 25px;
}

.left{
    display: flex;
}

.right{
    display: flex;
}

.title{
    font-size: 30px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
    color: white;
    font-family: Pacifico, sans-serif;
    text-decoration: none;
}

.title2{
    font-size: 40px;
    margin:  0 auto;
    color: #424141;
    font-family: Pacifico, sans-serif;
    margin-bottom: 40px;
}

.menu-bg {
  background: white;
  pointer-events: none;
  transition: .3s;
  right: 50px;
  top: 50px;
  transform: translate3d(50%, -50%, 0);
  transform-origin: center center;
  box-shadow: 6px 7px 7px -4px rgba(0,0,0,0.2);      
}

.menu-bg.fs {
  transform: translate3d(50%, -50%, 0);
  width: 300vw;
  height: 300vw;
}

.menu-burger {
  color: gray;
  padding-top: 11px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: .4s;
  transform-origin: center;
}

.menu-burger.fs {
  transform: rotate(-180deg) translateY(10px);
}

.menu-items {
  position: absolute;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: gray;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: .4s;
  margin-top: 0px;
  font-weight: 300;
  transform: translateY(-200%);
  pointer-events: none;
}

.links{
    display: flex;
    flex-direction: row;
    margin:  0 auto;
}

.menu-items a{
    justify-content: center;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    color: gray;
    background-color: white;
    transition: all .2s ease;
}

.menu-items a:hover{
    background-color: #efefef;
    
}

.menu-items links {
  transition: 1s;
  opacity: 0;
  margin-top: 0px;
}

.menu-items.fs {
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
}
.menu-items.fs links {
  opacity: 1;
  margin-top: 75px;
}

.content {
  padding: 100px 50px;
}

.content h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.box{
    width: 725px;
    margin: 0 auto;
}

p{
  font-size: 16px;
  font-weight: 100;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: justify;
}

.bg{
    background-image: url(../images/bg.png);
    width: 300px;
    height: 300px;
    margin-top: -305px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

